html,
body,
div,
span,
object,
li,
ul,
img iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
input,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", Arial, "宋体", "华文细黑", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: auto;
  height: auto;
  border-width: 0 0 0 0;
}
a {
  text-decoration: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/*
 * @Author: alex (chenzeyongjsj@163.com) 
 * @Date: 2018-01-25 21:07:45 
 * @Last Modified by: alex (chenzeyongjsj@163.com)
 * @Last Modified time: 2018-01-25 21:14:20
 */
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
/* 下划线动画 */
.underline-hover {
  position: relative;
  text-decoration: none;
}
.underline-hover::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: #1c2a55;
  transition: all 0.3s;
}
.underline-hover:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}
[v-cloak] {
  display: none;
}
html {
  background: #e6e6e6;
}
body {
  min-width: 1190px;
}
.public-wap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.public-wap .main {
  width: 1190px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  background: #fff;
  border-radius: 3px;
}
.public-wap .main .form-container {
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
  /* 提示文字 */
  /* 跳转链接 */
  /* 图片上传 */
  /* wechat weibo 二维码上传 */
}
.public-wap .main .form-container .form-box {
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  padding-bottom: 50px;
}
.public-wap .main .form-container .form-box::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.public-wap .main .form-container .form-box .el-form-item {
  float: left;
}
.public-wap .main .form-container .form-box .form-control-btn {
  margin-top: 20px;
}
.public-wap .main .form-container .form-box .el-form-item__label {
  padding: 0 20px 0;
}
.public-wap .main .form-container .site-item-info {
  font-size: 12px;
  color: #888;
}
.public-wap .main .form-container .item-a {
  margin-left: 10px;
  color: #00a0e9;
}
.public-wap .main .form-container .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.public-wap .main .form-container .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.public-wap .main .form-container .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 158px;
  line-height: 158px;
  text-align: center;
}
.public-wap .main .form-container .avatar {
  width: 178px;
  height: 158px;
  display: block;
}
.public-wap .main .form-container .wechat_weibo_uploader {
  width: 140px;
  height: 140px;
}
.public-wap .main .form-container .wechat_weibo_uploader .avatar-uploader-icon {
  width: 140px;
  height: 140px;
  line-height: 140px;
}
.public-wap .main .table-container {
  width: 100%;
  margin-top: 20px;
  position: relative;
  /* 表格筛选栏 */
  /* 三级菜单 */
  /* 表格主体 */
}
.public-wap .main .table-container .table-filter {
  width: 100%;
  height: 28px;
  overflow: hidden;
  margin-bottom: 20px;
}
.public-wap .main .table-container .table-filter .last-btn {
  margin-left: 10px;
}
.public-wap .main .table-container .table-filter .filter-link {
  height: 100%;
  display: block;
}
.public-wap .main .table-container .table-filter .filter-link span {
  display: block;
}
.public-wap .main .table-container .table-filter .filter-link button {
  display: block;
}
.public-wap .main .table-container .filter-title-2 {
  margin-left: 30px;
}
.public-wap .main .table-container .column-selection,
.public-wap .main .table-container .state-selection {
  width: 160px;
  margin-right: 5px;
}
.public-wap .main .table-container .title-search {
  width: 220px;
}
.public-wap .main .table-container .title-search .el-input-group__append {
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  transition: all 0.3s;
}
.public-wap .main .table-container .title-search .el-input-group__append:hover {
  background: #00a0e9;
  border-color: #00a0e9;
}
.public-wap .main .table-container .title-search .el-input-group__append:hover .el-icon-search {
  color: #fff;
}
.public-wap .main .table-container .title-search .el-icon-search {
  font-size: 20px;
  vertical-align: middle;
  transition: all 0.3s;
  position: relative;
  top: -1.5px;
}
.public-wap .main .table-container .third-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}
.public-wap .main .table-container .table-body {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #ebeef5;
  /* 表格内部操作按钮 */
  /* 状态样式 */
}
.public-wap .main .table-container .table-body .table-sort-input input {
  text-align: center;
  padding: 0;
}
.public-wap .main .table-container .table-body .control-btn .el-button {
  font-weight: 300;
  padding: 7px 10px;
}
.public-wap .main .table-container .table-body .control-btn .el-button a {
  color: #606266;
}
.public-wap .main .table-container .table-body .control-btn .el-button:hover a {
  color: #00a0e9;
}
.public-wap .main .table-container .table-body .control-btn .control-btn-del:hover {
  color: #f56c6c;
  background: #fef0f0;
  border-color: #fbc4c4;
}
.public-wap .main .table-container .table-body .state1 {
  background-color: rgba(103, 194, 58, 0.1);
  border-color: rgba(103, 194, 58, 0.2);
  color: #67c23a;
}
.public-wap .main .table-container .table-body .state3 {
  background-color: rgba(144, 146, 152, 0.1);
  border-color: rgba(144, 146, 152, 0.2);
  color: #909399;
}
.public-container {
  width: 990px;
  background: #fff;
  padding: 20px;
  border-radius: 3px;
}
