html,
body,
div,
span,
object,
li,
ul,
img iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
input,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", Arial, "宋体", "华文细黑", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: auto;
  height: auto;
  border-width: 0 0 0 0;
}
a {
  text-decoration: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/*
 * @Author: alex (chenzeyongjsj@163.com) 
 * @Date: 2018-01-25 21:07:45 
 * @Last Modified by: alex (chenzeyongjsj@163.com)
 * @Last Modified time: 2018-01-25 21:14:20
 */
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
/* 下划线动画 */
.underline-hover {
  position: relative;
  text-decoration: none;
}
.underline-hover::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: #1c2a55;
  transition: all 0.3s;
}
.underline-hover:hover::before {
  width: 100%;
  left: 0;
  right: 0;
}
[v-cloak] {
  display: none;
}
html {
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}
body {
  min-width: 1200px;
  height: 100%;
}
.public-wap {
  width: 100%;
  height: 100%;
  position: relative;
}
.public-wap .main {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  /* 表单公共样式 */
  /* 表格公共样式 */
  /* 模板列表 */
  /* 多级表格 */
}
.public-wap .main::after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}
.public-wap .main .form-container {
  width: 100%;
  margin-top: 20px;
  border-radius: 3px;
  /* 提示文字 */
  /* 跳转链接 */
  /* 图片上传 */
  /* wechat weibo 二维码上传 */
}
.public-wap .main .form-container .form-box {
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  padding-bottom: 50px;
}
.public-wap .main .form-container .form-box::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.public-wap .main .form-container .form-box .el-form-item {
  float: left;
}
.public-wap .main .form-container .form-box .form-control-btn {
  margin-top: 20px;
}
.public-wap .main .form-container .form-box .el-form-item__label {
  padding: 0 20px 0;
}
.public-wap .main .form-container .site-item-info {
  font-size: 12px;
  color: #888;
}
.public-wap .main .form-container .item-a {
  margin-left: 10px;
  color: #00a0e9;
}
.public-wap .main .form-container .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.public-wap .main .form-container .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.public-wap .main .form-container .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 158px;
  line-height: 158px;
  text-align: center;
}
.public-wap .main .form-container .avatar {
  width: 178px;
  height: 158px;
  display: block;
}
.public-wap .main .form-container .wechat_weibo_uploader {
  width: 140px;
  height: 140px;
}
.public-wap .main .form-container .wechat_weibo_uploader .avatar-uploader-icon {
  width: 140px;
  height: 140px;
  line-height: 140px;
}
.public-wap .main .table-container {
  width: 100%;
  margin-top: 20px;
  position: relative;
  /* 表格筛选栏 */
  /* 三级菜单 */
  /* 表格主体 */
  /* 表格带图样式 */
}
.public-wap .main .table-container .table-filter {
  width: 100%;
  height: 28px;
  overflow: hidden;
  margin-bottom: 20px;
}
.public-wap .main .table-container .table-filter button {
  display: block;
  float: left;
}
.public-wap .main .table-container .table-filter button span {
  display: block;
}
.public-wap .main .table-container .table-filter .last-btn {
  margin-left: 10px;
}
.public-wap .main .table-container .table-filter .filter-link {
  height: 100%;
  display: block;
  margin-right: 10px;
}
.public-wap .main .table-container .table-filter .column-selection,
.public-wap .main .table-container .table-filter .state-selection {
  width: 160px;
  margin-right: 5px;
}
.public-wap .main .table-container .table-filter .title-search {
  width: 220px;
}
.public-wap .main .table-container .table-filter .title-search .el-input-group__append {
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  transition: all 0.3s;
}
.public-wap .main .table-container .table-filter .title-search .el-input-group__append:hover {
  background: #00a0e9;
  border-color: #00a0e9;
}
.public-wap .main .table-container .table-filter .title-search .el-input-group__append:hover .el-icon-search {
  color: #fff;
}
.public-wap .main .table-container .table-filter .title-search .el-icon-search {
  font-size: 20px;
  vertical-align: middle;
  transition: all 0.3s;
  position: relative;
  top: -1.5px;
}
.public-wap .main .table-container .third-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}
.public-wap .main .table-container .table-body {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #ebeef5;
  /* 表格内部操作按钮 */
  /* 状态样式 */
}
.public-wap .main .table-container .table-body .table-sort-input input {
  text-align: center;
  padding: 0;
}
.public-wap .main .table-container .table-body .control-btn .el-button {
  font-weight: 300;
  padding: 7px 10px;
}
.public-wap .main .table-container .table-body .control-btn .el-button a {
  color: #606266;
}
.public-wap .main .table-container .table-body .control-btn .el-button:hover a {
  color: #00a0e9;
}
.public-wap .main .table-container .table-body .control-btn .control-btn-del:hover {
  color: #f56c6c;
  background: #fef0f0;
  border-color: #fbc4c4;
}
.public-wap .main .table-container .table-body .state1 {
  background-color: rgba(103, 194, 58, 0.1);
  border-color: rgba(103, 194, 58, 0.2);
  color: #67c23a;
}
.public-wap .main .table-container .table-body .state3 {
  background-color: rgba(144, 146, 152, 0.1);
  border-color: rgba(144, 146, 152, 0.2);
  color: #909399;
}
.public-wap .main .table-container .carousel_container {
  position: relative;
}
.public-wap .main .table-container .carousel_container .carousel-img {
  width: auto;
  height: 80px;
  overflow: hidden;
  border: 1px solid #54c3f1;
  position: relative;
}
.public-wap .main .table-container .carousel_container .carousel-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
}
.public-wap .main .table-container .carousel_container .carousel-link {
  color: #606266;
  transition: all 0.3s;
}
.public-wap .main .table-container .carousel_container .carousel-link:hover {
  color: #00a0e9;
}
.public-wap .main .template-list {
  width: 100%;
}
.public-wap .main .template-list > ul {
  width: 100%;
}
.public-wap .main .template-list > ul > li {
  width: 100%;
}
.public-wap .main .template-list > ul > li .template-title {
  text-align: center;
  color: #00a0e9;
  padding: 5px 20px;
  font-size: 24px;
  margin-bottom: 20px;
}
.public-wap .main .template-list > ul > li > ol::after {
  content: '';
  visibility: hidden;
  display: block;
  clear: both;
}
.public-wap .main .template-list > ul > li > ol > li {
  margin-right: 50px;
  margin-bottom: 50px;
}
.public-wap .main .template-list > ul > li > ol > li:nth-child(4n) {
  margin-right: 0;
}
.public-wap .main .template-list > ul > li > ol > li .template-img-box {
  width: 200px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.public-wap .main .template-list > ul > li > ol > li .template-img-box > img {
  width: 100%;
  min-height: 100%;
}
.public-wap .main .template-list > ul > li > ol > li .t-name {
  color: #54c3f1;
  margin: 10px 0;
  font-size: 16px;
}
.public-wap .main .template-list > ul > li > ol > li .t-url a {
  color: #606266;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-right: 15px;
  transition: all 0.3s;
}
.public-wap .main .template-list > ul > li > ol > li .t-url a:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.public-wap .main .template-list > ul > li .paging {
  margin-top: 0;
  margin-bottom: 50px;
}
.public-wap .main .column-container .second-table {
  border-top: 1px solid #ebeef5;
}
.public-wap .main .column-container .second-table .el-table__header-wrapper {
  display: none;
}
.public-wap .main .column-container .second-table .el-table__row,
.public-wap .main .column-container .second-table .el-table__row > td {
  background: #e7e7e7;
}
.public-wap .main .column-container .second-table .el-table__expand-icon > .el-icon {
  font-size: 12px;
  left: 50%;
  top: 50%;
}
.public-wap .main .column-container .el-table__row.expanded {
  background: #e7e7e7;
}
.public-wap .main .column-container .el-table__expanded-cell[class*=cell] {
  padding: 0 0 20px 0;
}
.public-wap .main .column-container .el-table__expand-icon > .el-icon {
  font-size: 20px;
  left: 43%;
  top: 32%;
}
.public-container {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 200px;
}
